.footer {
  position: relative;
  display: block;
  background: #222;
  padding: 60px 0;
}

.footer .inner {
  width: calc(100% - 20px * 2);
  margin: 0 auto;
  max-width: 1420px;
}

.footer-list {
  text-align: center;
  font-size: 15px;
  color: #666666;
  line-height: 1.6;
}
.footer-list li {
  padding: 5px 0;
}
.footer-list li a {
  color: #666666;
}
.footer-list li a:hover {
  color: #666666;
  text-decoration: underline;
}
.footer-list span {
  display: inline-block;
  white-space: nowrap;
}
.footer-list p {
  padding-top: 20px;
}
.footer-bar {
  position: relative;
  display: inline-block;
  padding: 0 18px;
}
.footer-bar::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 1px;
  height: 10px;
  background: #666;
}
.footer-br {
  display: none;
}
/* goTop btn */
.gotop{
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
      width: 60px;
  height: 60px;
  border-radius: 5px;
  background-color: #3056a1;
  border: 0;
  cursor: pointer;
  color: #fff;
  font-size: 28px;
    z-index: 99;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}
.gotop.active{
    opacity: 1;
    visibility: visible;
}
.gotop.active-footer{
    bottom: 320px;
}