.service{
    position: relative;
    height: auto;
    padding: 180px 0 210px;
    /* min-width: 800px; */
}
.service .inner{
    height: 100%;
}
.service-tilte{
    margin-bottom: 38px;
    font-size: 38px;
    text-align: center;
}
.service-tilte span{
    font-family: "Godo";
    color: #3a68b2;
}
.service-wrap{
    /* width: calc(100% - 20px * 2); */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: minmax(100px , auto);
    gap: 20px;
}
.service-box1{
    position: relative;
    grid-row: 1/3;
    /* 700 / 1420 * 100 = 49.2957vw */
    /* height: 49.29vw; */
    aspect-ratio: 35 / 34;
    max-height: 680px;
    /* aspect-ratio: ; */
    overflow: hidden;
    
}
.service-box1:hover .service-bg1{
    transform: rotate(2deg) scale(1.1);
    opacity: 0.9;
}
.service-bg{
    position: absolute;
    top: 0;
    left: 0;
}
.service-bg1{
    width: 100%;
    height: 100%;
    background: url(../img/main_service_img1.jpg) no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}
.service-box2{
    position: relative;
    overflow: hidden;
}
.service-box2:hover .service-bg2{
    transform: rotate(2deg) scale(1.1);
    opacity: 0.9;
}
.service-bg2{
    width: 100%;
    height: 100%;
    background: url(../img/main_service_img2.jpg) no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}
.service-box3{
    position: relative;
    overflow: hidden;
}
.service-box3:hover .service-bg3{
    transform: rotate(2deg) scale(1.1);
    opacity: 0.9;
}
.service-bg3{
    width: 100%;
    height: 100%;
    background: url(../img/main_service_img3.jpg) no-repeat center;
    background-size: cover;
    transition: all 0.3s;
}
.service-wrap a{
    display: block;
    width: 100%;
    height: 100%;
    display: grid;
    align-content: end;
    padding: 30px;
}
.service-box-wrap{
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 99;
    color: #fff;
}
.service-box-title{
    font-size: 26px;
    margin-bottom: 3px;
}
.service-box-desc{
    font-size: 18px;
    font-weight: 300;
    opacity: 0.8;
}
.no-br{
    display: none;
}
.service-box-bt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 140px;
    padding: 8px 15px;
    margin-top: 20px;
    background: none;
    color: #fff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
}