.visual{
    position: relative;
    width: 100%;
    /* height: 100vh; */
    /* aspect-ratio: 192/97; */
    height: 970px;
}
.sw-visual, .swiper-slide, .visual-box{
    width: 100%;
    height: 100%;
}
.visual-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
.visual-box .inner h2{
    line-height: 1.3;
    /* font-size: 74px; */
    font-size: clamp(36px, 5vw, 74px);
    font-family: "Godo" , "notokr";
    color: #fff;
}
.visual-box .inner p{
    margin-top: 10px;
    /* font-size: 22px; */
    font-size: clamp(17px, 5vw, 22px);
    font-weight: 500;
    color: #fff;
}
.visual-box .inner a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 220px;
  height: 65px;
  /* opacity: 1;
  visibility: visible; */
  padding: 0 45px 0 50px;
  margin-top: 50px;
  font-size: 17px;
  cursor: pointer;
  color: #fff;
  border: 1px solid rgba(255, 255, 255, 0.6);
}
.visual-bg1{
    background: url(../img/main_visual_1.jpg)no-repeat center;
    background-size: cover;
}
.visual-bg2{
    background: url(../img/main_visual_2.jpg)no-repeat center;
    background-size: cover;
}
.visual-bg3{
    background: url(../img/main_visual_3.jpg)no-repeat center;
    background-size: cover;
}
.visual-bg4{
    background: url(../img/main_visual_4.jpg)no-repeat center;
    background-size: cover;
}
/* 스와이퍼 컨트롤 */
.sw-visual-ctrl{
    width: 95%;
    max-width: 1420px;
    position: absolute;
    top: calc(50% - 230px);
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 1%;
    
    z-index: 9;
}
.sw-visual-ctrl button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 0;
    cursor: pointer;
    color: #fff;
    background-color: rgba(255, 255, 255, 0.3);
}
.sw-visual-ctrl button i{
    opacity: 0.5;
    transition: all 0.3s;
    font-size: 24px;
}
.sw-visual-ctrl button:hover i{
    opacity: 1;
}
/* 페이지네이션 */
.sw-visual-pg{
    position: absolute;
    top: calc(50% + 230px);
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    max-width: 1420px;
    z-index: 9;
}
.sw-visual-pg-list{
    display: flex;
    position: relative;
}
.sw-visual-pg-list li{
    position: relative;
    width: 85px;
    padding: 10px;
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    color: #fff;
}
.sw-visual-pg-list li::before{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    opacity: 0.4;
    background-color: #fff;
}
.sw-visual-pg-list li::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    /* 1.5는 js에서 슬라이드의 speed:1500 와 같음 */
    
    background-color: #fff;
}
.sw-visual-pg-list li.active::after{
    width: 100%;
    transition: all 1.5s;
}